#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 0px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width:55%;
  /* height:450px */
}

.swiper-slide img {
  display: block;
  width: 100%;
}
/* Define styles for small devices */
@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-image-container {
    width: 100%;
    margin-top: 20px; /* Add some spacing between the logo section and the footer image */
  }

  .footer-fields-container {
    width: 80%; /* Adjust width as needed */
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width:95%;
    /* height:450px */
  }
}
